.container {
  height: 280px;
  margin-top: 2rem;
  width: 100%;
  margin-bottom: 2rem;
}
.image {
  height: 100%;
  width: auto;
  border: 2px solid var(--dark-jugglypuff-pink);
  background-color: var(--lugia-white);
  border-radius: 8px;
}
.title {
  font-size: 20px;
}
.image,
.title {
  margin: 0;
}
