/* @import url("https://fonts.googleapis.com/css2?family=Jua&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  --greninja-blue: #060834;
  --haunter-purple: #4c1c59;
  --charmeleon-red: #fd2609;
  --lugia-white: #f9f9f9;
  --jigglypuff-pink: #f5d3b6;

  /* typography */
  --header-font: "Fredoka", sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--header-font);
  color: var(--greninja-blue);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #aa1616;
}
button:focus,
button:focus-visible {
  outline: 4px auto #aa1616;
}
