.formContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 100%;
  height: 4.5rem;
  width: 280px;
  margin-top: 1rem;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.input,
.invalidInput {
  width: 100%;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 16px;
  font-family: var(--header-font);
}
.invalidInput,
.error {
  color: var(--charmeleon-red);
}
.invalidInput {
  border: 2px solid var(--charmeleon-red);
}
.invalidInput:focus {
  outline: none;
}
.error {
  height: 10px;
}
.helperText {
  font-style: italic;
}
.error,
.helperText {
  font-size: 14px;
  margin-top: 0.5rem;
}
.button {
  background-color: var(--charmeleon-red);
  color: var(--lugia-white);
  margin-left: 0.3rem;
}
